.submit-btn{

    margin-top: 30px;

}

.validation{
	color: red;
	font-family: 'Roboto';
	font-style: italic;
	font-weight: 300;
	font-size: 13px;
}

.flt-right{
	float: right;
}
.flot_left{
	float:  left;
}